<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823171219964-a3a2r0tnjqm4ehhp3totuv78djg41fcl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823171219964-a3a2r0tnjqm4ehhp3totuv78djg41fcl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823171219964-5s3qtka0rt9v45m37ijuf61ff5f277nj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOWG_88NEu0_CMZcPAOojN2rPThLllLBE</string>
	<key>GCM_SENDER_ID</key>
	<string>823171219964</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fpoly.hcm.officemanager</string>
	<key>PROJECT_ID</key>
	<string>office-manager-8a4cd</string>
	<key>STORAGE_BUCKET</key>
	<string>office-manager-8a4cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823171219964:ios:b940c5830adce9c65af279</string>
</dict>
</plist>